.event-registration{
    display: flex;
    flex-direction: column;
}
.registration-form-body{
    background-image: url(../img/Desktop.png);
    background-size: cover;
    background-position: center;
}
.registration-form-body::before{
    content: '';
    filter: blur(8px);
}
.registration-event{
    height: 80vh;
    overflow-y: scroll;
    vertical-align: middle;
    margin-top: 10vh;
    width: 60vw;
    margin-left: 20vw;
}
.form-heading{
    width: 80%;
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.event-form{
    background-color: rgb(0,0,0,0.5);
    width: 80%;
    margin: auto;
    padding: 2%;
}
.checkbox{
    padding-left: 2%;
}
input{
background-color: unset;
border: unset;
border-bottom: 2px solid beige;
margin-bottom: 8px;
transform: translateY(-3px);
}

.workshops label{
    margin-right: 15px;
}