.ct-socials {
    position: fixed;
    top: 65%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ct-socials li {
    padding: 0px 0;
}
.ct-socials li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #dd0a37;
    width: 54px;
    height: 64px;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    float: right;
    padding-left: 5px;
}
.ct-socials li a:hover {
    width: 54px;
    background-color: #ffffff;
    color: #000000;
    margin-right: 50px;
    text-decoration: none;
    border-radius: 25% 0 0 25%;
}
.section.triad-section {
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .ct-socials{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
