<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="National Entrepreneurship Summit organised by NIT Silchar" />
  <meta name="keywords"
    content="srijan nits,srijan esummit,srijan nit silchar,e-summit,e-summit nits, speakers, sirjan nit silchar" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>SRIJAN | NIT Silchar</title>

  <meta property="og:title" content="Srijan Website" />
  <meta property="og:type" content="event" />
  <meta property="og:url" content="http://srijan-nits.in" />
  <meta property="og:site_name" content="National Institute of Technology Silchar" />
  <meta property="og:description" content="SRiJAN E-Summit Event Organised by NIT Silchar" />

  <link rel="icon" href="docsupport/bulb6-slow.gif" type="image/gif" sizes="16x16" />
  <link rel="canonical" href="http://srijan-nits.in" />
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Owl Carousel -->
  <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
  <link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css" />

  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <link type="text/css" rel="stylesheet" href="css/registration-form.css" />
  <link type="text/css" rel="stylesheet" href="css/loader.css" />

  <link type="text/css" rel="stylesheet" href="css/social-share.css" />
  <link type="text/css" rel="stylesheet" href="css/scrollTop.css" />
  <style>
    .mobile-space,
    .mobile-space1 {
      width: 190px;
      height: 500px;
    }

    .mobile-space1 {
      width: 380px;
    }

    @media screen and (max-width: 768px) {

      .mobile-space,
      .mobile-space1 {
        display: none;
        width: 0;
        height: 0;
      }
    }
  </style>
</head>
<body>
  <a href="index.html"> <img class="logo-img" src="img/E-CELL 1.png" height="75px" width="190px" alt="logo"
      style="padding-right: 1vh" /></a>

  <div class="payment-status">
    <div class="payment-failed" >
      <div class="status-icon">
        <div class="fail"><i class="fas fa-times-circle"></i></div>
      </div>
      <div class="form-heading">
        <h1>Payment Unsuccessful!</h1>
      </div>
      <p><span class="variable">Please Try Again!!!</span></p>
      <a style="color:black;" href="/workshop-register">Click Here to go to the Registration Page</a>
    </div>
  </div>
</body>
</html>