<!DOCTYPE html>
<html>
    <head>
        <title>Success Page</title>
    </head>
    <body>
        <div style="text-align: center;margin-top:20vh">
            <h1>Success!</h1>
            <h4>Your Transcation amount is {{doc.TXNAMOUNT}}</h4>
            <h4>Your Transcation ID is : {{doc.BANKTXNID}}</h4>
            <button><a href="../../index.html" style="text-decoration: none;">Done</a></button>
        </div>
        
    </body>
</html>