<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="National Entrepreneurship Summit organised by NIT Silchar" />
  <meta name="keywords"
    content="srijan nits,srijan esummit,srijan nit silchar,e-summit,e-summit nits, speakers, sirjan nit silchar" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>SRIJAN | NIT Silchar</title>

  <meta property="og:title" content="Srijan Website" />
  <meta property="og:type" content="event" />
  <meta property="og:url" content="http://srijan-nits.com" />
  <meta property="og:site_name" content="National Institute of Technology Silchar" />
  <meta property="og:description" content="SRiJAN E-Summit Event Organised by NIT Silchar" />

  <link rel="icon" href="docsupport/bulb6-slow.gif" type="image/gif" sizes="16x16" />
  <link rel="canonical" href="http://srijan-nits.com" />
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Owl Carousel -->
  <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
  <link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css" />

  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <link type="text/css" rel="stylesheet" href="css/registration-form.css" />
  <link type="text/css" rel="stylesheet" href="css/loader.css" />

  <link type="text/css" rel="stylesheet" href="css/social-share.css" />
  <link type="text/css" rel="stylesheet" href="css/scrollTop.css" />
  <style>
    .mobile-space,
    .mobile-space1 {
      width: 190px;
      height: 500px;
    }

    .mobile-space1 {
      width: 380px;
    }

    @media screen and (max-width: 768px) {

      .mobile-space,
      .mobile-space1 {
        display: none;
        width: 0;
        height: 0;
      }
    }
  </style>
</head>

<body class="registration-form-body">
  <a href="index.html"> <img class="logo-img" src="img/E-CELL 1.png" height="75px" width="190px" alt="logo"
      style="padding-right: 1vh" /></a>

  <div class="payment-status">
    <div class="payment-sucessful" id="print">
      <div class="status-icon">
        <div class="success"><i class="fas fa-check-circle"></i></div>
      </div>
      <div class="form-heading">
        <h1>Workshop Registration Successful!</h1>
      </div>
      <!-- <p><span class="variable">Reference No</span><span class="value">   -   12345678</span></p>
            <p><span class="variable">Order Id</span><span class="value">   -   RFABC12345</span></p>
            <p><span class="variable">Receipt Number</span><span class="value">   -   0123456789</span></p> -->
      <p><span class="variable"> Name - </span><span class="value">{{data.teamName}}</span></p>
      <p><span class="variable">Email Id - </span><span class="value"> {{data.leaderEmail}}</span></p>
      <p><span class="variable">Phone Number - </span><span class="value">{{data.leaderphone}}</span></p>
      <p><span class="variable">Workshops: - </span><span class="value"></p>
      <ul style="list-style-type: circle;">
        {{#each data.events}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      </span>
      <!-- <p><span class="variable">Total Amount Paid</span><span class="value">   -   350/-</span></p> -->
      <button id="print-receipt" class="proceed" onclick="printDiv()"> <a class="onHoverfocus" href="index.html">Click Here to
          Print</a></button>
    </div>



  </div>
  <script src="js/registration-form.js"></script>
</body>

</html>